* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.carousel {
    height: 50vh;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.carousel-item {
    position: relative;
}

.carousel-item img {
    position: absolute;
    height: 300px; 
    width: 400px !important; 
    left: -50%;
    object-fit: cover;
}
